<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>WeOps</title>
    <link href="<%= htmlWebpackPlugin.options.staticUrl %>img/logo.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
<script>
    if ('{{ RUN_MODE }}' === 'DEVELOP') {
        window.siteUrl = window.location.origin
    } else if ('{{ RUN_MODE }}' === 'STAGING') {
        window.siteUrl = '{{ BK_PLAT_HOST }}{{ SITE_URL }}'
        window.static_url = window.location.origin + '/t/' + '{{ APP_CODE }}' + '/static/'
    } else {
        window.siteUrl = '{{ BK_PLAT_HOST }}{{ SITE_URL }}'
        window.static_url = window.location.origin + '/t/' + '{{ APP_CODE }}' + '/static/'
    }
    window.APP_CODE = '{{ APP_CODE }}';
    window.CSRF_COOKIE_NAME = '{{ CSRF_COOKIE_NAME }}';
    window.STATIC_URL = '{{ STATIC_URL }}'
    window.is3DScreen = '{{ IS_3D_SCREEN }}' === '1'
    window.LINK_APPS = {
        'M': '{{ MONITOR_APP_CODE }}',
        'A': '{{ UAC_APP_CODE }}',
        'F': '{{ FLOW_APP_CODE }}',
        'N': 'bk_nodeman',
        'I': '{{ MONITOR_APP_CODE }}',
        'C': '{{ UAC_APP_CODE }}',
        'H': '{{ HEALTH_APP_CODE }}',
        'D': '{{ OPS_APP_CODE }}',
        'W': '{{ WEOPS_APP_CODE }}',
        'S': 'sourceapply4_saas',
        'P': '{{ PATCH_APP_CODE }}',
        'U': 'bk_user_manage'
    }
    window.HOST = window.location.origin + '/o/'
    window.HOST_T = window.location.origin + '/t/'
    window.CMDB = '{{ CMDB_HREF }}'
    window.JOB = '{{ JOB_HREF }}'
    window.ESB = '{{ BK_PAAS_HOST }}'
    window.CURRENT_ENV = '{{ CURRENT_ENV }}' // 当前环境变量
    window.CURRENT_URL = '{{ BK_PAAS_HOST }}{{ CURRENT_ENV }}/'
    window.CONSOLE_BIND_WX_TYPE = '{{ CONSOLE_BIND_WX_TYPE }}'
    window.EMAIL = '{{ email }}' // ESB 邮件
    window.SMS = '{{ sms }}' // ESB 短信
    window.VOICE = '{{ voice }}' // ESB 语音
    window.WEINXIN = '{{ weixin }}' // ESB 微信
    window.CURRENT_IP = '{{ current_ip }}'
    window.remote_url = '{{ remote_url }}'
    window.is_activate = '{{ is_activate }}' === '1'
    window.log_output_host = '{{ log_output_host }}'
    window.OPSPLIOT_URL = '{{ OPSPLIOT_URL }}'
</script>
<div id="app"></div>
<script type=text/javascript src="<%= htmlWebpackPlugin.options.staticUrl %>dist/dll/vendors.dll.<%= htmlWebpackPlugin.options.timeStamp %>.js"></script>
<script type=text/javascript src="<%= htmlWebpackPlugin.options.staticUrl %>dist/dll/jquery.dll.<%= htmlWebpackPlugin.options.timeStamp %>.js"></script>
<script type=text/javascript src="<%= htmlWebpackPlugin.options.staticUrl %>dist/dll/bkMagicVue.dll.<%= htmlWebpackPlugin.options.timeStamp %>.js"></script>
<script type=text/javascript src="<%= htmlWebpackPlugin.options.staticUrl %>dist/dll/antv.dll.<%= htmlWebpackPlugin.options.timeStamp %>.js"></script>
<script type=text/javascript src="<%= htmlWebpackPlugin.options.staticUrl %>dist/dll/echarts.dll.<%= htmlWebpackPlugin.options.timeStamp %>.js"></script>
</body>
</html>
